In [1]:
import pandas as pd

ORIGINAL_TRAIN_DATASET_PATH = './Davidson-Original/train_ORIGINAL.csv'
BACK_TRANSLATED_DATASET_PATH = './OUTPUTS_data/CHINESE.csv'
LANGUAGE_NAME = 'CHINESE'

# Load original dataset
original_train_df = pd.read_csv(ORIGINAL_TRAIN_DATASET_PATH)

In [2]:
original_train_df.columns = ['tweet', 'class']
original_train_df.head()

                                               tweet  class
0  Bitches ah have a baby &amp; be like "don't cl...      1
1  "@ayyee_ceee_: One mans trash &#128686; is ano...      2
2  RT @IKeepitRealer: ChrisBrown a bitch 4 hittin...      1
3  People comment on my fb statuses like "How was...      1
4  RT @TreLeKidd: Yo bitch is Gucci Mane RT @Jaba...      1

In [3]:
original_train_df['class'].value_counts()

class
1    17285
2     3753
0     1266
Name: count, dtype: int64

In [4]:
# BT
bt_df = pd.read_csv(BACK_TRANSLATED_DATASET_PATH)

In [5]:
bt_df.head()

                                                text  labels
0  We also hate you lil nicca!Loudly laughed at R...       0
1                             You make me fascinated       0
2         RT @Rosiezaya1: Your fucking white garbage       0
3  RT @__ Poleiteasshole: 4) Only the cat's nigga...       0
4  The slow answer makes me feel like a mental re...       0

In [6]:
# make all labels = 0
# bt_df['class'] = 0
# bt_df = bt_df[['text', 'class']]

# Rename columns
bt_df.columns = ['tweet', 'class']

In [7]:
bt_df.head()

                                               tweet  class
0  We also hate you lil nicca!Loudly laughed at R...      0
1                             You make me fascinated      0
2         RT @Rosiezaya1: Your fucking white garbage      0
3  RT @__ Poleiteasshole: 4) Only the cat's nigga...      0
4  The slow answer makes me feel like a mental re...      0

In [8]:
print(bt_df['class'].value_counts())
bt_df.head()

class
0    1265
Name: count, dtype: int64

                                               tweet  class
0  We also hate you lil nicca!Loudly laughed at R...      0
1                             You make me fascinated      0
2         RT @Rosiezaya1: Your fucking white garbage      0
3  RT @__ Poleiteasshole: 4) Only the cat's nigga...      0
4  The slow answer makes me feel like a mental re...      0

In [9]:
# Concatenate both datasets
final_df = pd.concat([original_train_df, bt_df], axis=0)

In [10]:
final_df.head()

                                               tweet  class
0  Bitches ah have a baby &amp; be like "don't cl...      1
1  "@ayyee_ceee_: One mans trash &#128686; is ano...      2
2  RT @IKeepitRealer: ChrisBrown a bitch 4 hittin...      1
3  People comment on my fb statuses like "How was...      1
4  RT @TreLeKidd: Yo bitch is Gucci Mane RT @Jaba...      1

In [11]:
final_df['class'].value_counts()

class
1    17285
2     3753
0     2531
Name: count, dtype: int64

In [12]:
# Save final dataset
final_df.to_csv('./OUTPUTS_data/'+LANGUAGE_NAME+'_merged.csv', index=False)