In [1]:
import pandas as pd

# Paths to the original training dataset and back-translated datasets for each language
ORIGINAL_TRAIN_DATASET_PATH = './Davidson-Original/train_ORIGINAL.csv'
BACK_TRANSLATED_DATASET_PATHS = {
    'Chinese': './OUTPUTS_data/CHINESE.csv',
    'French': './OUTPUTS_data/FRENCH.csv',
    'German': './OUTPUTS_data/GERMAN.csv',
    'Romanian': './OUTPUTS_data/ROMANIAN.csv',
    'Portuguese': './OUTPUTS_data/PORTUGUESE.csv',
    'Japanese': './OUTPUTS_data/JAPANESE.csv'
}

# Read original training dataset
original_df = pd.read_csv(ORIGINAL_TRAIN_DATASET_PATH)

In [2]:
# Change column names 
original_df.columns = ['text', 'labels']

print(original_df.shape)
print(original_df['labels'].value_counts())
original_df.head()

(22304, 2)
labels
1    17285
2     3753
0     1266
Name: count, dtype: int64

                                                text  labels
0  Bitches ah have a baby &amp; be like "don't cl...       1
1  "@ayyee_ceee_: One mans trash &#128686; is ano...       2
2  RT @IKeepitRealer: ChrisBrown a bitch 4 hittin...       1
3  People comment on my fb statuses like "How was...       1
4  RT @TreLeKidd: Yo bitch is Gucci Mane RT @Jaba...       1

In [3]:
# Read and concatenate back-translated datasets
dfs = [original_df]  # Start with the original dataset
for language, path in BACK_TRANSLATED_DATASET_PATHS.items():
    df = pd.read_csv(path)
    dfs.append(df)
    print(f'{language}: {df.shape}')
    print(df['labels'].value_counts())

Chinese: (1265, 2)
labels
0    1265
Name: count, dtype: int64
French: (1266, 2)
labels
0    1266
Name: count, dtype: int64
German: (1266, 2)
labels
0    1266
Name: count, dtype: int64
Romanian: (1266, 2)
labels
0    1266
Name: count, dtype: int64
Portuguese: (1266, 2)
labels
0    1266
Name: count, dtype: int64
Japanese: (1266, 2)
labels
0    1266
Name: count, dtype: int64

In [4]:
merged_df = pd.concat(dfs, ignore_index=True)

In [5]:
print(merged_df.shape)
print(merged_df.labels.value_counts())

(29899, 2)
labels
1    17285
0     8861
2     3753
Name: count, dtype: int64

In [6]:
# Rename columns
merged_df.columns = ['tweet', 'class']

In [7]:
merged_df.head()

                                               tweet  class
0  Bitches ah have a baby &amp; be like "don't cl...      1
1  "@ayyee_ceee_: One mans trash &#128686; is ano...      2
2  RT @IKeepitRealer: ChrisBrown a bitch 4 hittin...      1
3  People comment on my fb statuses like "How was...      1
4  RT @TreLeKidd: Yo bitch is Gucci Mane RT @Jaba...      1

In [8]:
# Save final dataset
merged_df.to_csv('./OUTPUTS_data/ALL_merged.csv', index=False)